<div class="col-lg-4">
    <h1>{{titulo}}</h1>
    <div *ngIf = "alertMessage">
            <div class="alert alert-info">
            <strong>Mensaje</strong> {{alertMessage}}
            </div>
        </div>
        
    <form #formAlbum="ngForm"(ngSubmit)="onSubmit()">
            <p>
            <label>Titulo del Album</label>
            <input type="text" #title="ngModel" name="title" [(ngModel)]="album.title" required 
            class="form-control"/>
            <span *ngIf = "!title.valid && title.touched">
                El Titulo es Obligatorio
            </span>
        </p>

        <p>
            <label>Descripcion</label>
            <textarea #description="ngModel" name="description" [(ngModel)]="album.description" required  class="form-control"></textarea>
            <span *ngIf = "!description.valid && description.touched">
                La descrpición es Obligatoria
            </span>
        </p>

        <p>
                <label>Año del Album</label>
                <input type="text" #year="ngModel" name="year" [(ngModel)]="album.year" required 
                class="form-control"/>
                <span *ngIf = "!year.valid && year.touched">
                    Año es Obligatorio
                </span>
            </p>

            
         <div *ngIf="is_edit">
            <div class="album_image_for_edit" *ngIf="album.image && album.image != 'null'" >
                <img src="{{url + 'get-image-album/' + album.image}}" />
            </div>
            <p>
                <label>Sube la Imagen del Album</label>
                <input type = "file" placeholder="Subir Imagen..." (change) = "fileChangeEvent($event)"/>
            </p>
         </div>

        <input type="submit" value="{{titulo}}" [disabled] ="!formAlbum.form.valid" class="btn btn-success"/>
    </form>
</div>