<h1>{{titulo}}</h1>

<form #fomrArtist="ngForm" (ngSubmit)="onSubmit" class="col-lg-5">
    <p>
        <label>Nombre</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="artist.name" required 
        class="form-control"/>
        <span *ngIf = "!name.valid && name.touched">
            El nombre es Obligatorio
        </span>
    </p>

    <p>
        <label>Descripcion</label>
        <textarea #description="ngModel" name="description" [(ngModel)]="artist.description" required  class="form-control"></textarea>
        <span *ngIf = "!description.valid && description.touched">
            La descrpicon es Obligatorio
        </span>
    </p>

    <input type="submit" value="{{titulo}}" [disabled] = "!formArtist.form.valid" class="btn btn-success"/>

</form>