<div class="col-lg-6">


<h1>{{titulo}}</h1>

<div *ngIf = "alertMessage">
    <div class="alert alert-info">
      <strong>Mensaje</strong> {{alertMessage}}
    </div>
  </div>

<form #formArtist="ngForm" (ngSubmit)="onSubmit()" >
    <p>
        <label>Nombre</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="artist.name" required 
        class="form-control"/>
        <span *ngIf = "!name.valid && name.touched">
            El nombre es Obligatorio
        </span>
    </p>

    <p>
        <label>Descripcion</label>
        <textarea #description="ngModel" name="description" [(ngModel)]="artist.description" required  class="form-control"></textarea>
        <span *ngIf = "!description.valid && description.touched">
            La descrpicon es Obligatorio
        </span>
    </p>

    <input type="submit" value="{{titulo}}" [disabled] = "!formArtist.form.valid" class="btn btn-success"/>

</form>

</div>