html, body{
    margin:  0px;
    height: 100%;
    background: rgba(60, 92, 199, 0.452);
}

/* Estilo para enlaces activados */
.actived{
    border-bottom: 4px solid #84BD00;
    padding-bottom: 4px;
}

.central{
    height: 100%;
    overflow-y: scroll;
}

.seguro{
    margin-top: -33px;
    background: #222326;    
    height: 40px;
    position: absolute;
}

.head-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
}
.navigation{    
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    text-align:center;
    color: white;
    background:rgb(0, 0, 0);
    height: 100%;
}

.central{
    margin-left: 160px;
}

.navigation a{
    color:  #ddd;
    margin-top: 20 px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}

.navigation a:hover{
    color:  rgb(255, 255, 255);  
}

.navigation .fas{
    font-size: 25px;
    display: block;
    width: 100%;
}

#user_logged{
    background:#1C1C1F;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #444;
    width: 75%;
}

#user_logged .user-image{
    background: #eee;
    border-radius: 100px;
    height: 57px;
    width: 57px;
    margin: 0px auto;
    margin-top: 15 px;
    overflow: hidden;
}

#user_logged .user-image img{
 width: 100px;   
}

.btn-logout{
    cursor: pointer;
}

.artist_image_for_edit img{
    width: 150px;
}
.artist-list{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    list-style: none;
}

.artist-item{
    width: 23%;
    margin: 0px;
    padding: 0px;
    height: 317px;
    border:1px solid #444;
    margin-left: 20px;
    margin-top: 20px;
}

.artist-item .artist-image{
    height: 245px;
    width: 100%;
    overflow: hidden;
    background: #1C1C1F;
}

.artist-item .artist-image img{
    min-width: 100%;
    height: 100%;
}

.artist-item .artist-name{
    color: white;
    padding: 10px;
    background: #222326;

}

.artist-item .artist-name a{
    color: white;
}

#artist-head-card .image {
    width: 150px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
}

#artist-head-card .image img{
    height: 150px;
}